body {
    font-family: 'calibri';
    margin: 0 auto;
    overflow: hidden;
}

#status {
    position: absolute;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    background-color: yellow;
    color: black;
    border: 2px solid purple;
}

#loginWindow {
    padding: 10px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: purple;
    color: yellow;
    width: 200px;
    height: 180px;
    border: 2px solid yellow;
    text-align: center;
}

#loader {
    margin: 0 auto;

    /* position: relative;
    top: 20%;
    left: 20%; */
    border: 16px solid yellow;
    border-top: 16px solid purple;

    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#waitingForEnemy {
    padding: 10px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: purple;
    color: yellow;
    width: 200px;
    height: 180px;
    border: 2px solid yellow;
    text-align: center;
}

#waitingForTurn {
    padding: 10px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: purple;
    color: yellow;
    width: 200px;
    height: 180px;
    border: 2px solid yellow;
    text-align: center;

}